</div></td>
          </tr>
        </table>
        </TD>

		
      <TD WIDTH=244 valign="top" bgcolor="#000000" ALT="" > <TABLE WIDTH=244 BORDER=0 CELLPADDING=0 CELLSPACING=0>
          <TR> 
            <TD height="40" valign="top" background="http://www.pedistributors.com/images/menutopper_onlineordering.jpg">
<div align="right" style="padding-right:30px" class="style6"><font color="#FFFFFF"><?PHP $today = date("M d, Y"); echo "$today"; ?></font></div></TD>
          </TR>
          <TR> 
            <TD WIDTH=244 ALT="" valign="top"> <table width=244 border=0 cellpadding=0 cellspacing=0>
                <tr> 
                  <td background="http://www.pedistributors.com/images/lpx.jpg"> <img src="http://www.pedistributors.com/images/lpx.jpg" width=12 alt=""></td>
                  <td background="http://www.pedistributors.com/images/px2.jpg" bgcolor="#F7F7F7" style="background-position:top; background-repeat:repeat-x " width=220 alt=""> 
                    <div style="padding-left:7px"> 
                      <table width=206 border=0 cellpadding=0 cellspacing=0>
                        <!--DWLayoutTable-->
                        <form id="listBuilderForm" name="login_form" action="http://store.pedistributors.com/customer/login" method="POST" target="_blank">
                          <input type="hidden" name="PHPSESSID" value="45f3aff64176536be12069595bd341bb" />
                          <input type="hidden" name="return_url" value="http://store.pedistributors.com/">
                          <tr> 
                            <td width="166" valign="top"><div class="style6" align="right" style="padding-right:13px; padding-bottom:3px;">User 
                                I.D. #: <input type="text" name="username" value="" size="10" maxlength="13" class="style6"><br>
                                Password: <input type="password" name="password" value="" size="10" maxlength="13" class="style6">
                              </div></td>
                            <td width="40"><div>
                                <input type="image" src="http://www.pedistributors.com/images/gobutton.jpg" name="Log In" width="30" height="30" border="0">
                              </div></td>
                          </tr>
                          <tr> 
                            <td height=15 colspan="2" valign="top"><div align="center"><a href="#" class="style2" onclick="MyWindow=window.open('http://www.pedistributors.com/lists/?p=subscribe&id=5','MyWindow','scrollbars=yes,width=500,height=400');return false;">Click Here to Register 
                                Now!</a></div></td>
                          </tr>
                        </form>
                      </table>
                    </div></td>
                  <td background="http://www.pedistributors.com/images/rpx.jpg"> <img src="http://www.pedistributors.com/images/rpx.jpg" width=12 alt=""></td>
                </tr>
              </table></TD>
          </TR>
          <TR> 
            <TD> <IMG SRC="http://www.pedistributors.com/images/menutopper_featured.jpg" WIDTH=244 HEIGHT=52 ALT=""></TD>
          </TR>
          <TR> 
            <TD WIDTH=244 HEIGHT=100 ALT="" valign="top"> <table width=244 border=0 cellpadding=0 cellspacing=0>
                <tr> 
                  <td background="http://www.pedistributors.com/images/lpx.jpg"> <img src="http://www.pedistributors.com/images/lpx.jpg" width=12 height=100 alt=""></td>
                  <td background="http://www.pedistributors.com/images/px2.jpg" bgcolor="#F7F7F7" style="background-position:top; background-repeat:repeat-x " width=220 height=100 alt=""> 
                    <div class="style6" style="padding-left:8px; padding-top:3px "> 
                    </div>
                    <div style="padding-left:7px"> 
                      <table width=206 border=0 cellpadding=0 cellspacing=0>
                        <!--DWLayoutTable-->
                        <tr> 
                          <td width=206 align="center" alt=""><div class="style6"><a href="http://www.pedistributors.com/customer_new.php"><img src="http://www.pedistributors.com/images/featured_newc.jpg" border="0"></a>&nbsp;<a href="http://www.pedistributors.com/catalog/index.php"><img src="http://www.pedistributors.com/images/featured_07cat.jpg" border="0"></a><br><img src="http://www.pedistributors.com/images/spacer.gif" height="2" border="0"><br>
                              <a href="http://www.pedistributors.com/etools_ups.php"><img src="http://www.pedistributors.com/images/featured_ups.jpg" border="0"></a>&nbsp;<a href="http://www.pedistributors.com/etools_penews.php"><img src="http://www.pedistributors.com/images/featured_penews.jpg" border="0"></a> 
                              </div></td>
                        </tr>
                      </table>
                    </div></td>
                  <td background="http://www.pedistributors.com/images/rpx.jpg"> <img src="http://www.pedistributors.com/images/rpx.jpg" width=12 height=100 alt=""></td>
                </tr>
              </table></TD>
          </TR>
          <TR> 
            <TD> <IMG SRC="http://www.pedistributors.com/images/menutopper_recentnews.jpg" WIDTH=244 HEIGHT=52 ALT=""></TD>
          </TR>
          <TR> 
            <TD WIDTH=244 ALT="" valign="top"> <TABLE WIDTH=244 BORDER=0 CELLPADDING=0 CELLSPACING=0>
                <TR> 
                  <TD height="100%" background="http://www.pedistributors.com/images/lpx.jpg"> <IMG SRC="http://www.pedistributors.com/images/spacer.gif" WIDTH=12 ALT=""></TD>
                  <TD background="http://www.pedistributors.com/images/px2.jpg" bgcolor="#FeFeFe" style="background-position:top; background-repeat:repeat-x " WIDTH=220 ALT=""> 
                    <div class="style6" style="padding-left:8px; padding-right:8px; padding-bottom:3px;"><CENTER>
                  <a href="../../../vendor_newprod.php" class="style2">CLICK HERE 
                  TO VIEW OUR<BR>
                  NEW PRODUCTS LISTING</a></CENTER>
                      </div></TD>
                  <TD height="100%" background="http://www.pedistributors.com/images/rpx.jpg"> <IMG SRC="http://www.pedistributors.com/images/spacer.gif" WIDTH=12 ALT=""></TD>
                </TR>
              </TABLE></TD>
          </TR>
        </TABLE>
        <TABLE WIDTH=244 BORDER=0 CELLPADDING=0 CELLSPACING=0>
<TR> 
            <TD> <IMG SRC="http://www.pedistributors.com/images/menubottom01.jpg" ALT="" WIDTH=244 HEIGHT=22 border="0"></TD>
          </TR>
        </TABLE></TD>
    </TR>
	
	
    <TR> 
      <TD HEIGHT=110 colspan="3" bgcolor="#000000" ALT="" class="footermenu"> <center>
          <font class="footermenu"><a href="http://www.pedistributors.com/index.php" class="footermenu">HOME</a> 
          | <a href="http://www.pedistributors.com/company.php" class="footermenu">COMPANY</a> | <a href="http://www.pedistributors.com/customer.php" class="footermenu">CUSTOMERS</a> 
          | <a href="http://www.pedistributors.com/vendor_news.php" class="footermenu">PRODUCTS</a> | <a target="_blank" href="http://store.pedistributors.com/customer/login" class="footermenu">eTOOLS</a> 
          | <a href="http://www.pedistributors.com/contact.php" class="footermenu">CONTACT</a><BR>
          <a href="http://www.pedistributors.com/sitemap.php" class="footermenu">SITE MAP</a> | <a href="http://www.pedistributors.com/news.php" class="footermenu">ALL NEWS ARCHIVE</a> | <a href="http://www.pedistributors.com/termsandconditions.php" class="footermenu">TERMS &amp; CONDITIONS</a> | <a href="mailto:webmaster@pedistributors.com" class="footermenu">WEBMASTER</a><br><br></font>
          <a href="http://www.sema.org"><img src="http://www.pedistributors.com/images/semabutton.jpg" width="55" height="30" border="0" alt="Specialty Equipment Market Association (SEMA) Member Company"></a> 
           <a href="http://www.pwa-par.org"><img src="http://www.pedistributors.com/images/pwabutton.jpg" width="55" height="30" border="0" alt="Performance Warehouse Association (PWA) Member Company"></a> &nbsp;&nbsp;
           <a href="http://www.parts-pro.com"><img src="http://www.pedistributors.com/images/partsprobutton.jpg" width="55" height="30" border="0" alt="AAM Group (Parts Pro and Total Truck Centers) Member Company"></a><br>
          
          <font class="footertext">All information is copyright © 1962-<?PHP print (date("Y")); ?>, P&amp;E 
          Distributors, Inc. Reproduction of any kind in whole or in part is not 
          permitted.</font> 
        </center></TD>
    </TR>
  </TABLE>
</center>
<map name="Map2">
  <area shape="rect" coords="28,0,56,7" href="http://www.pedistributors.com/etools_penews.php">
</map>
<map name="Map3">
  <area shape="rect" coords="568,99,570,100" href="#">
</map>
</BODY>
</HTML>