<?php
	if (isset($_GET['s'])){
		$s = $_GET['s'];
		}
	else { $s = "thumbs"; }
	
	if (isset($_GET['c'])){
		$count = $_GET['c'];
		}
	else { $count = "0" ; }
    $next = $count + 1;
    $prev = $count - 1;
    if ($prev < 0){
    	$prev = "0";
     }
    if (isset($_GET['c'])){
	   	if (($s == "thumbs") && ($_GET['c'] >= 216)){
  		$count = $next = "216";
	    $prev = $count - 1;}
    }
?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<?php include("catmeta/meta.php"); ?>
<TITLE><?php echo $page_title ?></TITLE>
<meta name="description" content=""></meta>
<meta name="keywords" content=""></meta>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<script language="JavaScript" type="text/JavaScript">
function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
</script>
<script language="JavaScript" type="text/JavaScript">
function MM_jumpMenu(targ,selObj,restore){ //v3.0
  eval(targ+".location='"+selObj.options[selObj.selectedIndex].value+"'");
  if (restore) selObj.selectedIndex=0;
}
</script>
<link href="css/styles.css" rel="stylesheet" type="text/css">
</head>

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" onLoad="MM_preloadImages('../catalog/images/cathead2_07.gif','../catalog/images/cathead2_08.gif','../catalog/images/cathead2_09.gif','../catalog/images/infobar02.gif')">
<center><table width="750" border="0" cellpadding="0" cellspacing="0" bgcolor="#000000">

    <tr> 
          
      <td width="332" height="56" valign="top" bgcolor="#000000"> <a href="../index.php"><img src="../catalog/images/cathead_01.gif" alt="Tennessee Speed Sport 2006 Parts and Accessory Catalog" width="332" height="56" border="0"></a></td>
          
      <td width="418" align="center" valign="middle" bgcolor="#000000"> 
        <select name="Table of Contents" onChange="MM_jumpMenu('parent',this,1)" class="TOCoption1" style="width:200">
          <option selected value="">&nbsp;Table of Contents ----></option>
          <option value="index.php?s=thumbs&c=1">&nbsp;New Products</option>
          <option value="index.php?s=thumbs&c=2">&nbsp;Truck &amp; SUV</option>
          <option value="index.php?s=thumbs&c=2">&nbsp;&nbsp;&nbsp;&nbsp;Accessories</option>
          <option value="index.php?s=thumbs&c=77">&nbsp;&nbsp;&nbsp;&nbsp;Performance</option>
          <option value="index.php?s=thumbs&c=83">&nbsp;&nbsp;&nbsp;&nbsp;Travel & Towing</option>
          <option value="index.php?s=thumbs&c=94">&nbsp;&nbsp;&nbsp;&nbsp;Exhaust</option>
          <option value="index.php?s=thumbs&c=98">&nbsp;&nbsp;&nbsp;&nbsp;Suspension</option>
		  <option value="index.php?s=thumbs&c=108">&nbsp;Diesel</option>
          <option value="index.php?s=thumbs&c=108">&nbsp;&nbsp;&nbsp;&nbsp;Performance</option>          
		  <option value="index.php?s=thumbs&c=126">&nbsp;Jeep</option>
          <option value="index.php?s=thumbs&c=126">&nbsp;&nbsp;&nbsp;&nbsp;Accessories</option>
		  <option value="index.php?s=thumbs&c=132">&nbsp;Automotive</option>
          <option value="index.php?s=thumbs&c=132">&nbsp;&nbsp;&nbsp;&nbsp;Accessories</option>
		  <option value="index.php?s=thumbs&c=139">&nbsp;Performance</option>
          <option value="index.php?s=thumbs&c=139">&nbsp;&nbsp;&nbsp;&nbsp;Racing Products</option>
		  <option value="index.php?s=thumbs&c=141">&nbsp;&nbsp;&nbsp;&nbsp;Engine Parts</option>
		  <option value="index.php?s=thumbs&c=155">&nbsp;&nbsp;&nbsp;&nbsp;Fasteners &amp; Gaskets</option>
		  <option value="index.php?s=thumbs&c=159">&nbsp;&nbsp;&nbsp;&nbsp;Ignition &amp; Electrical</option>
		  <option value="index.php?s=thumbs&c=171">&nbsp;&nbsp;&nbsp;&nbsp;Fuel &amp; Induction</option>
		  <option value="index.php?s=thumbs&c=191">&nbsp;&nbsp;&nbsp;&nbsp;Exhaust</option>
		  <option value="index.php?s=thumbs&c=197">&nbsp;&nbsp;&nbsp;&nbsp;Cooling</option>
		  <option value="index.php?s=thumbs&c=201">&nbsp;&nbsp;&nbsp;&nbsp;Driveline &amp; Suspension</option>
		  <option value="index.php?s=thumbs&c=210">&nbsp;Street Rod Performance</option>
          <option value="index.php?s=thumbs&c=212">&nbsp;Car Care Products</option>
		  <option value="index.php?s=thumbs&c=214">&nbsp;Index</option>
          <option value="index.php?s=thumbs&c=214">&nbsp;&nbsp;&nbsp;&nbsp;Manufacturers</option>
		  <option value="index.php?s=thumbs&c=215">&nbsp;&nbsp;&nbsp;&nbsp;Product</option>
        </select></td>
        </tr>
      </table>
  <table width="750" border="0" cellpadding="0" cellspacing="0"><!-- TemplateBeginEditable name="EditRegion1" -->

    <tr> 
      <td width="56" height="46" valign="top"> <a href="http://www.pedistributors.com/new_catalog/index.php?s=full&c=0"><img src="../catalog/images/cathead_03.gif" alt="Click Here to View the Catalog Cover" width="56" height="46" border="0"></a></td>
      <td width="76" valign="top"> <a href="http://www.pedistributors.com/new_catalog/index.php?s=full&c=1"><img src="../catalog/images/cathead_04.gif" alt="Click Here to View the Table of Contents" width="76" height="46" border="0"></a></td>
      <td width="54" valign="top"> <a href="http://www.pedistributors.com/new_catalog/index.php?s=full&c=417"><img src="../catalog/images/cathead_05.gif" alt="Click Here to View the Index" width="54" height="46" border="0"></a></td>
      <td width="52" valign="top"> <a href="http://www.pedistributors.com/new_catalog/?p=help"><img src="../catalog/images/cathead_06.gif" alt="Click Here to View the Help Page" width="52" height="46" border="0"></a></td>
      <td width="150" valign="top"> <a href="<?php echo "index.php?s=".$s."&c=".$prev ?>" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Previous','','../catalog/images/cathead2_07.gif',1)"><img src="../catalog/images/cathead_07.gif" alt="Click Here to View the Previous Page" name="Previous" width="150" height="46" border="0"></a></td>
      <td width="120" valign="top"> <a href="<?php echo "index.php?s=".$s."&c=".$next ?>" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Next','','../catalog/images/cathead2_08.gif',1)"><img src="../catalog/images/cathead_08.gif" alt="Click Here to View the Next Page" name="Next" width="120" height="46" border="0"></a></td>
      <td width="242" valign="top"><img src="images/cathead3_09.gif" alt="Click the Page Below to Enlarge It" width="242" height="46"></td>
      
      
    </tr>
  </table>
<table width="750" border="0" cellpadding="0" cellspacing="0">
        
        <tr> 
          
      <td width="750" height="18" valign="top" style="margin-bottom:.5em"><a href="http://www.pedistributors.com/new_catalog/?p=locations" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('InfoBar','','../catalog/images/infobar02.gif',1)"><img src="../catalog/images/infobar01.gif" alt="Click Herefor Information on How to Check Availability and Prices" name="InfoBar" width="750" height="18" border="0"></a></td>
        </tr>
      </table>