@charset "utf-8";
/* CSS Document */
html, body{
	height:100%;
	min-height: 100%;
	max-height: 100%;

}

a{
	text-decoration:none;	
}

a:hover{
	text-decoration:underline;	
}


body{
	behavior: url("css/csshover3.htc");
	background-color:#00355c;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	text-align:center;
	height:100%;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	}
	
#Table_01 {
	width:1000px;
	margin:.5em auto 0 auto;
	height:100%;
}

#logo_box {
	background-image:url(../images/Untitled-1_01.jpg);
	float:left;
	width:370px;
	height:106px;
	cursor:pointer;
}

#top_nav {
	background-image:url(../images/Untitled-1_02.jpg);
	float:left;
	width:630px;
	height:34px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	font-size:12px;
	line-height:25px;
}

	#top_nav ul{
		padding:0;
		margin:0;
		list-style-type:none;
		display:inline;
		width:100%;
		}
	
	#top_nav li{
		float:left;
		margin-right:4.8em;
		}
	
	#top_nav li:hover{
		float:left;
		cursor:pointer;
		color:#e7f3ff;
		text-decoration:underline;
		}

#top_block {
	background-image:url(../images/Untitled-1_03.jpg);
	float:left;
	height:72px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	line-height:60px;
	text-align:left;
	width:630px;
}

#logged_in_box{
	float:right;
	border:1px #666666 solid;
	background:#015698;
	margin:0 1em 0 1em;
	font-size:10px;
	line-height:15px;
	padding:.75em;
}

	#logged_in_box a{
		color:#CCCCCC;
		font-size:12px;
	}
#action_bar {
	background:#4a4a49;
	float:left;
	clear:left;
	width:1000px;
	color:#FFFFFF;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}

	#action_bar ul{
		display:inline;
		list-style-type:none;
		
	}
	
	#action_bar li{
		border-right:1px #666666 solid;
		padding:.5em 1em .5em .25em;
		float:left;
	}
	


	#action_bar li:hover{
		float:left;		
		background-image:url(../images/grey_gradient.jpg);
		cursor:pointer;
		
	}
	
	#action_bar p.header{
		font-size:16px;
		float:left;
		margin:0;
		padding:0;
	}
	
	#action_bar p.subtext{
		font-size:10px;
		float:left;
		clear:left;
		font-size:10px;
		color:#999999;
		margin:0;
		padding:0;
	}
	

#contents {
	background:#FFFFFF;
	float:left;
	width:1000px;
	text-align:left;
	background-image:url(../images/tan_white_shadow_long.png);
	background-position:left;
	background-repeat:repeat-y;
}

#contents_nocol {
	background:#FFFFFF;
	float:left;
	width:1000px;
	text-align:left;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}

#details tr:hover{
	background-color:#efefef;
}

#main_content_header{
	float:left;
	text-align:center;
	padding-top:1em;
	height:188px;
	min-height:188px;
}

#features_bar{
	background-image:url(../images/cutout_shadow.jpg);
	min-height:69px;
	height:69px;
	width:785px;
	float:left;
	line-height:65px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#FFFFFF;
}
	
	#features_bar ul{
		list-style-type:none;
		display:inline;
		margin:0;
		padding:0;
	}

	#features_bar li{
		float:left;
		width:25%;
		text-align:center;
	}

	#features_bar li:hover{
		color:#FF0000;
		cursor:pointer;
	}

	#features_bar li.on{
		float:left;
		width:196px;
		text-align:center;
		background-color:#FFFFFF;
		color:#666666;
	}

#footer{
	float:left; 
	width:1000px; 
	background-image:url(../images/footer.jpg); 
	padding-top:.5em; 
	background-repeat:no-repeat;
	margin:0 0 1em 0;
}

.divider{
	float:left;
	clear:left;
	height:20px;
	width:90%;
	background-color:#efefef;
	border:1px #b4b4b4 solid;
	margin:.5em 0 .5em 0;
	padding:1em;
	font-size:16px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:550;
}

.left-half-border{
	width:40%;
	float:left;
	padding:1em;
	border:1px #CCCCCC solid;
	margin:1em;
	font-size:12px;
}

.left-half-noborder{
	width:40%;
	padding:1em;
	float:left;
	clear:left;
	margin:1em 0 0 1em;
}

.right-half{
	width:40%;
	float:right;
	border:1px #CCCCCC solid;
	padding:1em;
	margin:1em 1em 0 0;
	background:#efefef;
	
}

.row{
	float:left;
	clear:left;
	width:100%;
	font-size:12px;
	text-align:left;
	padding:.25em;
}

.col{
	float:left; 
	width:30%;
	border-bottom:1px #000000 dashed;
	margin-right:.5em;
}

.rcol{
	float:left; 
	width:50%;
	font-size:9px;
}

.leftbar{
	float:left; 
	width:210px;
	background:url(../images/grey_white_shadow.png); 
	background-position:right; 
	background-repeat:repeat-y;
	background-color:#efefef;
	text-align:center;
	padding-top:1em;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	height:100%;
}

	.leftbar ul{
		float:left;
		list-style-type:none;
		margin:0;
		padding:0;
		text-align:center;
		width:100%;
	}
	
	.leftbar li{
		text-align:center;
	}
	
	.leftbar ul.text-list{
		float:left;
		list-style-type:none;
		margin:0;
		padding:.25em 0 .25em 0;
		text-align:left;
		width:205px;
	}
	
	.leftbar li.text-list{
		text-align:center;
		border-bottom:1px #CCCCCC solid;
		text-align:left;
		padding:1em;
		font-size:12px;
		}
	
	.leftbar li.text-list:hover{
		background-color:#e7f3ff;
		cursor:pointer;
		}

	.leftbar li.text-list-header{
		text-align:center;
		padding:.75em;
		background-color:#666666;
		color:#FFFFFF;
		}

	.leftbar a{
		text-decoration:none;
		color:#000000;
		}

.main{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#333333;
	float:left;
	width:790px;
	margin:0;
	padding:0;
	}

.titles{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#000000;
	float:left;
	padding:1em 0 1em 0;
	width:100%;
}

.subtitles{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#000000;
	float:left;
	padding:1em 0 1em 0;
	width:100%;
	font-weight:600;
}



.text-box{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#666666;
	float:left;
	clear:both;
	width:700px;
	margin:1em auto 1em auto;
	padding:2em;
	border:1px #CCCCCC solid;
	background-color:#efefef;
}

	.text-box ul{
		margin:0;
		padding:0;
		list-style-type:none;
	
	}
	
		.text-box li{
		margin:0;
		padding:0;
		list-style-type:none;
	
	}


.text-box-clear{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#666666;
	float:left;
	clear:left;
	margin:0 auto 1em auto;
	border:1px #CCCCCC solid;
	padding:1em;
}


		
	
	#about img{
		float:left;
	}

.show {
	width:auto;
	}

.hide {
	display:none;
	}

.required {
	color:#FF0000;
}
	
.image_table_cell:hover{
	cursor:pointer;
	}

.errorbox{
	float:right;
	width:720px;
	text-align:center;
	border:1px #000000 solid;
	margin:1em .5em 1em 0;
	padding:1.5em;
	background:url(../images/bkgs/errorbox.png);
	font-size:18px;
}

.history tr:hover{
	background-color:#efefef;
	cursor:pointer;
}

.successbox{
	float:right;
	width:720px;
	text-align:center;
	border:1px #000000 solid;
	margin:1em .5em 1em 0;
	padding:1.5em;
	background:url(../images/bkgs/successbox.png);
	font-size:18px;
}

.linkbox {
	float:left;
	clear:both;
	width:700px;
	border:1px #CCCCCC solid; 
	min-height:80px; 
	min-width:36px; 
	padding-left:45px;
	margin-top:1em;
}

.linkbox:hover{
		background-color:#e7f3ff;
		cursor:pointer;
		border:1px #000000 solid;
		}
	
	.linkbox a{
		text-decoration:none;
		color:#0162a9;
		font-size:18px;
	
	}
	
		.linkbox a:hover{
		color:#000000;
		font-size:18px;
	
		}

.linkbox_s {
	float:left;
	clear:both;
	color:#0162a9;
}

.linkbox_s:hover{
		cursor:pointer;
		text-decoration:underline;
		}
	
	.linkbox_s a{
		text-decoration:none;
		color:#0162a9;
		font-size:18px;
	
	}
	
		.linkbox_s a:hover{
		color:#000000;
		font-size:18px;
	
		}