/* CSS Document */
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
#nav a {
	font-weight: bold;
	color: FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
}
#nav a:hover {
	font-weight: bold;
	color: FFFF99;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
}

#nav li li a{
	display: block;
	font-weight: bold;
	color: 000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	padding: 0.3em 5px;
}

#nav li li a:hover{
	font-weight: bold;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	padding: 0.3em 5px;
	background-color: #999999;

}

li {
	float: left;
	position: relative;
	width: 110px;
	text-align: center;
}
li ul {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	font-weight: normal;
	padding: 0.5em 0 1em 0;
	border: solid 1px #333333;
	background-color: f7f7f7;
}
li>ul {
	top: auto;
	left: auto;
}
li li {
	display: block;
	float: none;
	background-color: transparent;
	border: 0;
}
li:hover ul, li.over ul {
	display: block;
}