td {
	text-align: left;
	vertical-align: top;
	font-family:Tahoma;
	font-size:10px;
	color:474747;
}
a {
	text-decoration: none;
}
a.1 {
	text-decoration: none;
	color: 000000;
}
.t11 {
	font-family: Tahoma;
	font-size: 11px;
	font-style: normal;
}
body  {margin:0px;padding:0px}
.style1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #6f6f6f;
}
.style1 a:link {color: #6f6f6f; text-decoration: none; font-weight: bold;}
.style1 a:hover {color: #CC3333; text-decoration: none; font-weight: bold;}

.style2 {
	color: #CC3333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}
a.style2:link {color: #CC3333; text-decoration: none; font-weight: bold;}
a.style2:hover {color: #990000; text-decoration: none; font-weight: bold;}
.style3 {
	color: #006e44;
	font-size: 11px;
	font-weight: bold;
}
.style4 {color: #757575}
.style5 {color: #757575}
.style6 {color: #333333;
font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;}
	
.style7 {color: #CC3333;
font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;}
	
	.menutext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	color: #FFFFFF;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
}
.menutext a:link {color: #FFFFFF; text-decoration: none;}
.menutext a:hover {color: #CCCCCC; text-decoration: underline;}

	.submenutext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	color: #000000;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
}
.submenutext a:link {color: #000000; text-decoration: none;}
.submenutext a:hover {color: #CC3333; text-decoration: underline;}

